.measurement-page-container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: var(--gradient-background);
    min-height: 100vh;
    max-width: 1400px;
    margin-top: 50px;
}

.measurement-form-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.measurement-form-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.measurement-form-container th,
.measurement-form-container td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--glass-effect);
    color: var(--text-muted);
}

.measurement-form-container th {
    background-color: var(--glass-effect);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.measurement-form-container td strong {
    display: block;
    margin-bottom: 5px;
}

.measurement-form-container td p {
    margin: 0;
    color: var(--text-muted);
}

.select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--glass-effect);
    color: var(--text-muted);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: var(--primary-color);
    appearance: none;
    position: relative;
}

.select:focus {
    border-color: var(--accent-color);
}

.select option {
    background-color: var(--primary-color);
    color: var(--text-light);
    border: none;
    padding: 10px;  
}

.select::after {
    content: '\25BC';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--text-muted);
   background-color: var(--accent-hover);
}

.design-button {
    background-color: var(--accent-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--text-light);
}

.design-button:hover {
    background-color: var(--accent-hover);
}

.buttons {
    text-align: center;
}

.submit-button {
    background-color: var(--accent-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--text-light);
}

.submit-button:hover {
    background-color: var(--accent-hover);
}

.measurement-image-container {
    flex: 1;
    max-width: 30%;
    margin-left: 20px;
}

.measurement-image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: var(--elegant-shadow);
}