.untitled-page.mainContentSection {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
  background-color: white;
  overflow: hidden;
}
.untitled-page .flexColumnContainer {
  display: flex;
  flex-direction: column;
  gap: 11px 0;
  margin: 19px 6px 0 0;
  max-width: 1434px;
}
@media (max-width: 767px) {
  .untitled-page .flexColumnContainer {
    align-items: center;
    -moz-column-gap: 0;
    column-gap: 0;
  }
}
.untitled-page .flexRowSearchResults {
  display: flex;
  gap: 0 11px;
  margin: 0 0 0 auto;
  width: 510px;
  max-width: 85%;
}
@media (max-width: 575px) {
  .untitled-page .flexRowSearchResults {
    align-items: center;
    gap: 26px 12px;
  }
}
.untitled-page .searchButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  margin: 9px 0 1.5px;
  min-width: 239px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  padding: 12px 24px 12px 16px;
  outline: 1px solid #d9d9d9;
  outline-offset: -0.5px;
}
@media (max-width: 575px) {
  .untitled-page .searchButton {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    width: 50%;
    min-width: unset;
  }
}
.untitled-page .searchButtonText {
  margin: 6px 0 3px;
  width: 112px;
  height: 16px;
  font: 400 16px/1 Inter, Helvetica, Arial, serif;
  color: #757575;
}
.untitled-page .searchButtonIcon {
  width: 25px;
  height: 25px;
}
.untitled-page .galleryImage1 {
  margin: 0 0 0.5px;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 575px) {
  .untitled-page .galleryImage1 {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    width: 100%;
    max-width: 50px;
  }
}
@media (max-width: 479px) {
  .untitled-page .galleryImage1 {
    margin: 0 auto;
  }
}
.untitled-page .galleryImage2 {
  margin: 4px 0 6.5px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 575px) {
  .untitled-page .galleryImage2 {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    width: 100%;
    max-width: 40px;
  }
}
@media (max-width: 479px) {
  .untitled-page .galleryImage2 {
    margin: 0 auto;
  }
}
.untitled-page .infoColumn {
  display: flex;
  flex-direction: column;
  gap: 1px 0;
  margin: 3.5px 0 0;
  width: 87px;
  min-width: 0;
  height: 47px;
}
@media (max-width: 575px) {
  .untitled-page .infoColumn {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    width: 100%;
    min-width: unset;
  }
}
.untitled-page .titleText {
  display: flex;
  align-items: center;
  width: 100%;
  height: 23px;
  font: 600 16px/1.39 Inter, Helvetica, Arial, serif;
  color: #303030;
}
.untitled-page .descriptionText {
  display: flex;
  align-items: center;
  width: 100%;
  height: 23px;
  font: 400 16px/1.39 Inter, Helvetica, Arial, serif;
  color: #303030;
}
.untitled-page .galleryImage3 {
  margin: 1px 0 1.5px;
  width: 48px;
  height: 48px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 575px) {
  .untitled-page .galleryImage3 {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    width: 100%;
    max-width: 48px;
  }
}
@media (max-width: 479px) {
  .untitled-page .galleryImage3 {
    margin: 0 auto;
  }
}
.untitled-page .flexRowContent {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  width: 91.7%;
}
@media (max-width: 1199px) {
  .untitled-page .flexRowContent {
    flex-direction: column;
    align-items: center;
    gap: 30px 10px;
  }
}
.untitled-page .contentBox {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 340px;
  min-width: 0;
  background-color: rgba(174, 177, 224, 0.901);
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
@media (max-width: 1199px) {
  .untitled-page .contentBox {
    width: 100%;
    min-width: unset;
  }
}
.untitled-page .flexRowItems {
  position: relative;
  display: flex;
  gap: 0 17px;
  margin: 2px 0 351px 19px;
}
@media (max-width: 991px) {
  .untitled-page .flexRowItems {
    margin: 2px auto 150px;
  }
}
@media (max-width: 575px) {
  .untitled-page .flexRowItems {
    -moz-column-gap: 16px;
    column-gap: 16px;
    margin: 2px auto 80px;
  }
}
@media (max-width: 383px) {
  .untitled-page .flexRowItems {
    -moz-column-gap: 8px;
    column-gap: 8px;
    margin: 2px auto 50px;
  }
}
.untitled-page .flexColumnDashboard {
  display: flex;
  flex-direction: column;
  margin: 43px 0 0;
  width: 254px;
  min-width: 0;
}
.untitled-page .dashboardImage {
  display: flex;
  align-items: center;
  gap: 0 13px;
  margin: 0 1px;
  width: 99.21%;
  height: 49px;
}
@media (max-width: 1399px) {
  .untitled-page .dashboardImage {
    margin: 0 auto;
  }
}
@media (max-width: 383px) {
  .untitled-page .dashboardImage {
    -moz-column-gap: 8px;
    column-gap: 8px;
  }
}
.untitled-page .image3 {
  width: 49px;
  height: 49px;
  -o-object-fit: cover;
  object-fit: cover;
}
.untitled-page .dashboardSubtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0 13px;
  width: 104px;
  height: 24px;
  font: 700 20px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: -0.4px;
}
@media (max-width: 1399px) {
  .untitled-page .dashboardSubtitle {
    margin: 12px auto 13px;
  }
}
@media (max-width: 991px) {
  .untitled-page .dashboardSubtitle {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .untitled-page .dashboardSubtitle {
    font-size: 16px;
  }
}
.untitled-page .flexColumnProfile {
  display: flex;
  gap: 0 14px;
  margin: 45px 1px 0;
  width: 99.21%;
  height: 50px;
}
@media (max-width: 1399px) {
  .untitled-page .flexColumnProfile {
    margin: 45px auto 0;
  }
}
@media (max-width: 383px) {
  .untitled-page .flexColumnProfile {
    -moz-column-gap: 8px;
    column-gap: 8px;
  }
}
.untitled-page .profileImage {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
  object-fit: cover;
}
.untitled-page .profileSubtitle {
  display: flex;
  align-items: center;
  margin: 16.5px 0 9.5px;
  width: 61px;
  height: 24px;
  font: 700 20px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.4px;
}
@media (max-width: 1199px) {
  .untitled-page .profileSubtitle {
    margin: 16.5px auto 9.5px;
  }
}
@media (max-width: 991px) {
  .untitled-page .profileSubtitle {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .untitled-page .profileSubtitle {
    font-size: 16px;
  }
}
.untitled-page .flexColumnOrders {
  display: flex;
  align-items: center;
  gap: 0 14px;
  margin: 54px 1px 0;
  width: 99.21%;
  height: 50px;
}
@media (max-width: 1399px) {
  .untitled-page .flexColumnOrders {
    margin: 54px auto 0;
  }
}
@media (max-width: 383px) {
  .untitled-page .flexColumnOrders {
    -moz-column-gap: 8px;
    column-gap: 8px;
    margin: 50px auto 0;
  }
}
.untitled-page .ordersImage {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
  object-fit: cover;
}
.untitled-page .ordersSubtitle {
  display: flex;
  align-items: center;
  margin: 13.5px 0 12.5px;
  width: 65px;
  height: 24px;
  font: 700 20px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.4px;
}
@media (max-width: 1199px) {
  .untitled-page .ordersSubtitle {
    margin: 13.5px auto 12.5px;
  }
}
@media (max-width: 991px) {
  .untitled-page .ordersSubtitle {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .untitled-page .ordersSubtitle {
    font-size: 16px;
  }
}
.untitled-page .flexColumnAppointments {
  display: flex;
  align-items: center;
  gap: 0 14px;
  margin: 51px 1px 0;
  width: 99.21%;
  height: 50px;
}
@media (max-width: 1399px) {
  .untitled-page .flexColumnAppointments {
    margin: 51px auto 0;
  }
}
@media (max-width: 383px) {
  .untitled-page .flexColumnAppointments {
    -moz-column-gap: 8px;
    column-gap: 8px;
    margin: 50px auto 0;
  }
}
.untitled-page .appointmentsImage {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
  object-fit: cover;
}
.untitled-page .appointmentsSubtitle {
  display: flex;
  align-items: center;
  margin: 13.5px 0 12.5px;
  width: 134px;
  height: 24px;
  font: 700 20px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.4px;
}
@media (max-width: 991px) {
  .untitled-page .appointmentsSubtitle {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .untitled-page .appointmentsSubtitle {
    font-size: 16px;
  }
}
@media (max-width: 383px) {
  .untitled-page .appointmentsSubtitle {
    margin: 13.5px auto 12.5px;
  }
}
.untitled-page .flexColumnCustomizationHub {
  display: flex;
  align-items: center;
  gap: 0 15px;
  margin: 49px 0 0;
  width: 100%;
  height: 50px;
}
@media (max-width: 383px) {
  .untitled-page .flexColumnCustomizationHub {
    -moz-column-gap: 8px;
    column-gap: 8px;
  }
}
.untitled-page .customizationHubImage {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
  object-fit: cover;
}
.untitled-page .customizationHubSubtitle {
  display: flex;
  align-items: center;
  margin: 13.5px 0 12.5px;
  width: 189px;
  height: 24px;
  font: 700 20px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.4px;
}
@media (max-width: 991px) {
  .untitled-page .customizationHubSubtitle {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .untitled-page .customizationHubSubtitle {
    font-size: 16px;
  }
}
.untitled-page .flexColumnFabricStock {
  display: flex;
  align-items: center;
  gap: 0 15px;
  margin: 50px 1px 0;
  width: 99.21%;
  height: 49px;
}
@media (max-width: 1399px) {
  .untitled-page .flexColumnFabricStock {
    margin: 50px auto 0;
  }
}
@media (max-width: 383px) {
  .untitled-page .flexColumnFabricStock {
    -moz-column-gap: 8px;
    column-gap: 8px;
  }
}
.untitled-page .fabricStockImage {
  width: 49px;
  height: 49px;
  -o-object-fit: cover;
  object-fit: cover;
}
.untitled-page .fabricStockSubtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12.5px 0;
  width: 118px;
  height: 24px;
  font: 700 20px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: -0.4px;
}
@media (max-width: 1399px) {
  .untitled-page .fabricStockSubtitle {
    margin: 12.5px auto;
  }
}
@media (max-width: 991px) {
  .untitled-page .fabricStockSubtitle {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .untitled-page .fabricStockSubtitle {
    font-size: 16px;
  }
}
.untitled-page .galleryImage5 {
  position: absolute;
  inset: -70px 251px 943px 11px;
  width: 78px;
  height: 70px;
}
@media (max-width: 575px) {
  .untitled-page .galleryImage5 {
    width: 43px;
    height: 45px;
  }
}
.untitled-page .flexRowSummary {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 98px 0 647px;
  width: 870px;
  min-width: 0;
}
@media (max-width: 1199px) {
  .untitled-page .flexRowSummary {
    margin: 0;
    width: 100%;
    min-width: unset;
  }
}
@media (max-width: 479px) {
  .untitled-page .flexRowSummary {
    flex-direction: column;
    align-items: center;
    gap: 30px 10px;
  }
}
.untitled-page .summaryContentBox {
  display: flex;
  flex-direction: column;
  width: 330px;
  min-width: 0;
  background-color: white;
  box-shadow: 0 12px 4px 0 rgba(0, 0, 0, 0.25);
}
@media (max-width: 479px) {
  .untitled-page .summaryContentBox {
    width: 100%;
    min-width: unset;
  }
}
.untitled-page .flexColumnCurrentOrders {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px 0;
  margin: 85px 94.5px 38px 93.5px;
  width: 142px;
  max-width: 85%;
}
@media (max-width: 1199px) {
  .untitled-page .flexColumnCurrentOrders {
    margin: 85px auto 38px;
  }
}
@media (max-width: 575px) {
  .untitled-page .flexColumnCurrentOrders {
    margin: 80px auto 38px;
  }
}
@media (max-width: 479px) {
  .untitled-page .flexColumnCurrentOrders {
    width: 85%;
  }
}
@media (max-width: 383px) {
  .untitled-page .flexColumnCurrentOrders {
    margin: 50px auto 38px;
  }
}
.untitled-page .currentOrdersHeroTitle {
  display: flex;
  justify-content: center;
  margin: 0 15.5px;
  width: 111px;
  max-width: 85%;
  height: 48px;
  font: 700 40px/1.2 Inter, Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.8px;
}
@media (max-width: 991px) {
  .untitled-page .currentOrdersHeroTitle {
    align-items: flex-start;
    font-size: 36px;
  }
}
@media (max-width: 479px) {
  .untitled-page .currentOrdersHeroTitle {
    font-size: 32px;
  }
}
@media (max-width: 383px) {
  .untitled-page .currentOrdersHeroTitle {
    margin: 0 8px;
  }
}
.untitled-page .currentOrdersSubtitle {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 24px;
  font: 700 20px/1.2 Inter, Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.4px;
}
@media (max-width: 991px) {
  .untitled-page .currentOrdersSubtitle {
    align-items: flex-start;
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .untitled-page .currentOrdersSubtitle {
    font-size: 16px;
  }
}
.untitled-page .upcomingAppointmentsContentBox {
  display: flex;
  flex-direction: column;
  width: 330px;
  min-width: 0;
  background-color: white;
  box-shadow: 0 11px 4px 0 rgba(0, 0, 0, 0.25);
}
@media (max-width: 479px) {
  .untitled-page .upcomingAppointmentsContentBox {
    width: 100%;
    min-width: unset;
  }
}
.untitled-page .flexColumnUpcomingAppointments {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 9px 46.5px 38px 47.5px;
  width: 236px;
  max-width: 85%;
}
@media (max-width: 991px) {
  .untitled-page .flexColumnUpcomingAppointments {
    margin: 9px auto 38px;
  }
}
@media (max-width: 575px) {
  .untitled-page .flexColumnUpcomingAppointments {
    margin: 9px 16px 38px;
  }
}
@media (max-width: 479px) {
  .untitled-page .flexColumnUpcomingAppointments {
    margin: 9px auto 38px;
    width: 85%;
  }
}
.untitled-page .upcomingAppointmentsImage {
  margin: 0 81.5px 0 83.5px;
  width: 71px;
  max-width: 85%;
  height: 75px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 991px) {
  .untitled-page .upcomingAppointmentsImage {
    margin: 0 32px;
  }
}
@media (max-width: 767px) {
  .untitled-page .upcomingAppointmentsImage {
    margin: 0 auto;
  }
}
.untitled-page .upcomingAppointmentsHeroTitle {
  display: flex;
  justify-content: center;
  margin: 0 80.5px 0 79.5px;
  width: 76px;
  max-width: 85%;
  height: 48px;
  font: 700 40px/1.2 Inter, Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.8px;
}
@media (max-width: 991px) {
  .untitled-page .upcomingAppointmentsHeroTitle {
    align-items: flex-start;
    margin: 0 32px;
    font-size: 36px;
  }
}
@media (max-width: 575px) {
  .untitled-page .upcomingAppointmentsHeroTitle {
    margin: 0 16px;
  }
}
@media (max-width: 479px) {
  .untitled-page .upcomingAppointmentsHeroTitle {
    font-size: 32px;
  }
}
@media (max-width: 383px) {
  .untitled-page .upcomingAppointmentsHeroTitle {
    margin: 0 8px;
  }
}
.untitled-page .upcomingAppointmentsSubtitle {
  display: flex;
  justify-content: center;
  margin: 4px 0 0;
  width: 100%;
  height: 24px;
  font: 700 20px/1.2 Inter, Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.4px;
}
@media (max-width: 991px) {
  .untitled-page .upcomingAppointmentsSubtitle {
    align-items: flex-start;
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .untitled-page .upcomingAppointmentsSubtitle {
    font-size: 16px;
  }
}