<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Tailor2You/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

    # Custom 404 error page
    ErrorDocument 404 /Tailor2You/pages/notFound
</IfModule>