<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/TailorProfile.css" />

  </head>

  <body class="flex-column">

    <main class="tailor-profile mainContent" style="--src:url(/assets/fcaf5e37deafd6e6c0297935dcb8b567.png)">
      <!-- Main content area --> 
      <section class="navigationSection">
        <!-- Main navigation bar --> 
        <div class="searchContainer">
          <ul class="navMenu">
            <img class="brandLogo" src="/assets/003ddcb227d5a0e2d1b3ce5fce51df03.png" alt="alt text" />
            <div class="searchProfileContainer">
              <button class="searchBar">
                <!-- TODO --> 
                <span class="searchPlaceholder">Type to sreach</span>
                <img class="searchIcon" src="/assets/c48ffb7bf4fe32ed35b8bacbefd37dd3.svg" alt="alt text" />
              </button>
              <div class="userProfileContainer">
                <figure class="avatarWrapper" style="--src:url(/assets/a7431a00c7ee75e93b09a4131c97400a.svg)"><img class="userAvatar" src="/assets/71b1b9a0df37de24a9ab5fe46471b289.svg" alt="alt text" /></figure>
              </div>
              <div class="userInfoContainer">
                <img class="statusIndicator" src="/assets/75e818eb32a8bf7ab9cfd80d7badf611.png" alt="alt text" />
                <div class="userDetails">
                  <p class="userTitle">Title</p>
                  <p class="userDescription">Description</p>
                </div>
              </div>
              <img class="notificationBell" src="/assets/fa31cc5cc0922942207c18ea771c64a8.svg" alt="alt text" />
            </div>
          </ul>
        </div>
      </section>

      <section class="profileSection">
        <!-- User profile section --> 
        <div class="profileWrapper">
          <img class="profileBackgroundImg" src="/assets/1979b3557b3800c4ac486d208e3441bd.png" alt="alt text" />
          <div class="profileFormWrapper" style="--src:url(/assets/2909184c307fe6cac48e277abbb6b934.png)">
            <nav class="profileNavigation">
              <!-- Profile navigation menu --> 
              <button class="item">
                <!-- TODO --> 
                Profile
              </button>
              <button class="item1">
                <!-- TODO --> 
                Portfolio
              </button>
            </nav>
            <div class="formWrapper" style="--src:url(/assets/238d7f5f002f03d81c80496b9228aea6.svg)">
              <div class="formBody">
                <div class="formGrid">
                  <div class="leftColumn">
                    <div class="userIdContainer">
                      <img class="userIdIcon" src="/assets/2f3d84e53d65c9a263a3df052be62e5d.png" alt="alt text" />
                      <p class="userIdText_box">
                        <span class="userIdText">
                          <span class="userIdText_span0">User ID</span>
                          <span class="userIdText_span1"> : XXX</span>
                        </span>
                      </p>
                    </div>
                    <div class="categoryContainer">
                      <p class="categoryHeading">Category</p>
                      <div class="categorySelectionGrid">
                        <!-- Category selection options --> 
                        <div class="maleCategory">
                          <img class="maleIcon" src="/assets/0c6884563f81c08d2ecdb291025942bd.svg" alt="alt text" />
                          <p class="maleLabel">Gents</p>
                        </div>
                        <div class="femaleCategory">
                          <img class="femaleIcon" src="/assets/0c6884563f81c08d2ecdb291025942bd.svg" alt="alt text" />
                          <p class="femaleLabel">Ladies </p>
                        </div>
                        <div class="bothCategory">
                          <img class="bothIcon" src="/assets/0c6884563f81c08d2ecdb291025942bd.svg" alt="alt text" />
                          <p class="bothLabel">Both</p>
                        </div>
                      </div>
                    </div>
                    <button class="addLocationBtn">
                      <!-- TODO --> 
                      <img class="locationPinIcon" src="/assets/63b70a43a2178c41bd0676c0c89edb15.svg" alt="alt text" />
                      <span class="addLocationText">Add Location</span>
                    </button>
                  </div>
                  <div class="rightColumn">
                    <div class="formFieldsContainer">
                      <!-- User information form fields --> 
                      <div class="nameFieldsContainer">
                        <div class="firstNameField">
                          <label class="firstNameLabel">First Name</label>
                          <hr class="firstNameInput" size="1" />
                        </div>
                        <div class="lastNameField">
                          <label class="lastNameLabel">Last Name</label>
                          <hr class="lastNameInput" size="1" />
                        </div>
                      </div>
                      <div class="contactFieldsContainer">
                        <div class="emailField">
                          <label class="emailLabel">Email Address</label>
                          <hr class="emailInput" size="1" />
                        </div>
                        <div class="phoneField">
                          <label class="phoneLabel">Phone Number</label>
                          <hr class="phoneInput" size="1" />
                        </div>
                      </div>
                      <div class="personalInfoContainer">
                        <div class="nicField">
                          <label class="nicLabel">NIC number</label>
                          <hr class="nicInput" size="1" />
                        </div>
                        <div class="birthDateField">
                          <div class="birthDateLabelContainer">
                            <label class="birthDateLabel">Birth date</label>
                            <img class="calendarIcon" src="/assets/688b4ac2b7206886a65c7d58c12edc17.svg" alt="alt text" />
                          </div>
                          <hr class="birthDateInput" size="1" />
                        </div>
                      </div>
                      <div class="additionalInfoContainer">
                        <div class="homeTownField">
                          <label class="homeTownLabel">Home Town</label>
                          <hr class="homeTownInput" size="1" />
                        </div>
                        <div class="bioField">
                          <label class="bioLabel">Bio</label>
                          <textarea class="bioInput"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="formActionContainer">
                      <button class="submitBtn">
                        <!-- TODO --> 
                        <span class="submitText">Submit</span>
                        <img class="submitIcon" src="/assets/ec7eb99959ff82d73057383a5ad2df38.svg" alt="alt text" />
                      </button>
                      <button class="resetBtn">
                        <!-- TODO --> 
                        Reset
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>

  </body>

</html>
