<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/UntitledPage.css" />

  </head>

  <body class="flex-column">

    <section class="untitled-page mainContentSection" style="--src:url(/assets/a86c5dc48334cdbd123c44b062dd9874.png)">
      <!-- Main content section containing search and summary elements. --> 
      <div class="flexColumnContainer">
        <div class="flexRowSearchResults">
          <button class="searchButton">
            <!-- TODO --> 
            <p class="searchButtonText">
              <!-- Text label for the search button. --> 
              Type to sreach
            </p>
            <img class="searchButtonIcon" src="/assets/2c4818e11df803407d823720de398910.svg" alt="alt text" />
          </button>
          <img class="galleryImage1" src="/assets/e381809811cb6e36ec112b1a2335b732.png" alt="alt text" />
          <img class="galleryImage2" src="/assets/75e818eb32a8bf7ab9cfd80d7badf611.png" alt="alt text" />
          <div class="infoColumn">
            <p class="titleText">Title</p>
            <p class="descriptionText">Description</p>
          </div>
          <img class="galleryImage3" src="/assets/fa38fde91b7a63ce6d590b003c4ce597.svg" alt="alt text" />
        </div>
        <div class="flexRowContent">
          <div class="contentBox">
            <div class="flexRowItems">
              <div class="flexColumnDashboard">
                <figure class="dashboardImage">
                  <img class="image3" src="/assets/cf3615ba69683346e7534a38d4cd93cb.svg" alt="alt text" />
                  <h3 class="dashboardSubtitle">Dashboard</h3>
                </figure>
                <div class="flexColumnProfile">
                  <img class="profileImage" src="/assets/21e715d6994dc7615791ec9cd91019ca.png" alt="alt text" />
                  <h3 class="profileSubtitle">Profile</h3>
                </div>
                <div class="flexColumnOrders">
                  <img class="ordersImage" src="/assets/da87db1f41b7db354337621c5c8a720e.png" alt="alt text" />
                  <h3 class="ordersSubtitle">Orders</h3>
                </div>
                <div class="flexColumnAppointments">
                  <img class="appointmentsImage" src="/assets/e2ef4cccb417950f4da63938172288f9.png" alt="alt text" />
                  <h3 class="appointmentsSubtitle">Appointments</h3>
                </div>
                <div class="flexColumnCustomizationHub">
                  <img class="customizationHubImage" src="/assets/9ccc73da56fffe081d1ed824fcb6bcf3.png" alt="alt text" />
                  <h3 class="customizationHubSubtitle">Custermization Hub</h3>
                </div>
                <div class="flexColumnFabricStock">
                  <img class="fabricStockImage" src="/assets/8897f6c0185ed84c49d727122d515310.svg" alt="alt text" />
                  <h3 class="fabricStockSubtitle">Fabric Stock</h3>
                </div>
              </div>
            </div>
            <img class="galleryImage5" src="/assets/415d739b825e259e55df69d356c84ef3.png" alt="alt text" />
          </div>
          <div class="flexRowSummary">
            <div class="summaryContentBox">
              <div class="flexColumnCurrentOrders">
                <h1 class="currentOrdersHeroTitle">1,247</h1>
                <h3 class="currentOrdersSubtitle">Current Orders</h3>
              </div>
            </div>
            <div class="upcomingAppointmentsContentBox">
              <div class="flexColumnUpcomingAppointments">
                <img class="upcomingAppointmentsImage" src="/assets/b2ce940e69f644cdbb89574ddd163a12.png" alt="alt text" />
                <h1 class="upcomingAppointmentsHeroTitle">247</h1>
                <h3 class="upcomingAppointmentsSubtitle">Upcoming Appointments</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </body>

</html>
