/* Main content section */
.content {
    padding: 60px 20px;
}

/* User Management Tabs */
.tabs {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 80px;
    /* Adjust this value to align with the menu icon */
    left: 0;
    right: 0;
    margin-top: 0;
}

.tabs button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #fff;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.tabs button:hover {
    background-color: rgba(248, 195, 158, 0.704);
}
/* Media Query for Mobile */
@media (max-width: 768px) {
    .user-table {
        width: 95%;
    }

    .search-bar input {
        width: 80%;
    }

    .header,
    .sidebar {
        padding: 10px;
    }

    .content {
        padding: 20px;
    }
}