
/* Main Content Section */
.content {
    padding: 60px 20px;
}
/* Table Styles */
.user-table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: -10px;
}

.user-table th,
.user-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #e1e0e0;
}

.user-table th {
    background-color: #ffffff;
    font-weight: bold;
}

/* Specific Column Widths */
.user-table th:first-child,
.user-table td:first-child {
    width: 8%;
    /* ID column */
}

.user-table th:nth-child(2),
.user-table td:nth-child(2) {
    width: 10%;
    /* Name column */
}

.user-table th:nth-child(3),
.user-table td:nth-child(3) {
    width: 12%;
    /* Phone Number column */
}

.user-table th:nth-child(4),
.user-table td:nth-child(4) {
    width: 12%;
    /* Email column */
}

.user-table th:nth-child(5),
.user-table td:nth-child(5) {
    width: 10%;
    /* Status column */
}

.user-table th:nth-child(6),
.user-table td:nth-child(6) {
    width: 18%;
    /* Action column */
}

/* Button Container Styles */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Button Styles */
.edit-btn,
.delete-btn {
    display: inline-block;
    width: 80px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: background-color 0.2s;
}
.edit-btn {
    background-color: #28a745;
}

.delete-btn {
    background-color: #dc3545;
}

.edit-btn:hover {
    background-color: #218838;
}

.delete-btn:hover {
    background-color: #c82333;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
    .user-table {
        width: 95%;
    }
    .search-bar input {
        width: 80%;
    }
    .header, .sidebar {
        padding: 10px;
    }
    .content {
        padding: 20px;
    }
}
