* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
}

    
/* Content Area */
.content {
    padding: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.add-fabric-btn {
    background-color: #6a1b9a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.add-fabric-btn:hover {
    background-color: #510a87;
    transition: background-color 0.3s ease;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table Styling */
.table-container {
    overflow-x: auto;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.product-table th,
.product-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.product-table thead th {
    background-color: #f8f8f8;
    font-weight: bold;
    color: #333;
}

.product-table tbody tr:hover {
    background-color: #f9f9f9;
}

.product-image {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;
}

.color-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.action-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 6px;
}

.edit-btn {
    color: #4CAF50;
    /* Green for edit */
}

.delete-btn {
    color: #E74C3C;
    /* Red for delete */
}

.action-btn:hover {
    opacity: 0.7;
}