@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('fonts/fonts.css');
@import url('components/topnav.css');
@import url('Tailor_Dashboard_styles.css');
@import url('components/footer.css');
@import url('components/btn.css');
@import url('components/flash_msg.css');
@import url('topNavBar_styles.css');
@import url('New_Fabric_styles.css');
@import url('Tailor_Profile_styles.css');
@import url('Fabric_Stock_styles.css');
@import url('Order_List_styels.css');
@import url('Order_Progress_styles.css');
@import url('footer.css');
@import url('Orde_item_styles.css');
@import url('Order_measurements_styels.css');
@import url('Order_List_styels.css');
@import url('Appointment_List_styles.css');
@import url('Appointment_Card_styles.css');
@import url('Appointment_Calender_styles.css');
@import url('sideBar_styles.css');
@import url('Customization_List_styles.css');
@import url('Customization_Card_styles.css');

:root {
    --primary-color: #6a5acd;
    --secondary-color: #7b68ee;
    --text-color: #333;
    --background-color: #f4f4f8;
    --input-border: #e0e0e0;
    --error-color: #d9534f;
    --card-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    --text-dark: #333;
    --text-muted: #555;
    --border-color: #e0e0e0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
}

body {
    background-image: url('../../img/Tailor.png');
    color: var(--text-color);
    line-height: 1.6;
    overflow-x: hidden;
    perspective: 1000px;
}

.main-content {
    max-width: 1200px;
    min-width: 1200px;
    margin: 2rem auto;
    padding: 1.5rem;
    border-radius: 16px;
    transform: translateY(0);
    transition: all 0.3s ease;
    margin-bottom: 100px;
    min-height: 60vh;
}

.main-content:hover {
    transform: translateY(-10px);
}

/* Section Content */
.Section-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
    margin-left: 80px;
}