@use "utils" as *;
@use "global" as *;

.tailor-profile {
  &.mainContent {
    display: flex;
    flex-direction: column;
    background: var(--src) center center / 100% 100% no-repeat;
    background-color: rgb(255 255 255);
    overflow: hidden;
  }

  .navigationSection {
    display: flex;
    flex-direction: column;
  }

  .searchContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(0 0 0 / 0.7%);
    border-radius: 15px 15px 0 0;
  }

  .navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    margin: 10px 12px 5px;
  }

  .brandLogo {
    width: 77px;
    min-width: 0;
  }

  .searchProfileContainer {
    display: flex;
    gap: 0 22px;
    width: 687px;
    min-width: 0;
  }

  .searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    margin: 4px 0 8px;
    min-width: 358px;
    background-color: rgb(255 255 255);
    border-radius: 20px;
    padding: 12px 14px 12px 16px;
    outline: 1px solid rgb(217 217 217);
    outline-offset: -0.5px;
  }

  .searchPlaceholder {
    margin: 3px 0 6px;
    min-width: 0;
    font: 400 16px/1 Inter, Helvetica, Arial, serif;
    color: rgb(117 117 117);
  }

  .searchIcon {
    width: 27px;
    min-width: 0;
  }

  .userProfileContainer {
    display: flex;
    margin: 2px 0 0;
    width: 75px;
    min-width: 0;
  }

  .avatarWrapper {
    display: flex;
    flex-direction: column;
    width: 50px;
    min-width: 0;
    background: var(--src) center center / 100% 100% no-repeat;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%);
  }

  .userAvatar {
    margin: 13px;
    width: 24px;
  }

  .userInfoContainer {
    display: flex;
    gap: 0 12px;
    margin: 3.5px 0 1.5px;
    width: 139px;
    min-width: 0;
  }

  .statusIndicator {
    margin: 0.5px 0 6.5px;
    width: 40px;
    min-width: 0;
    border-radius: 20px;
  }

  .userDetails {
    display: flex;
    flex-direction: column;
    gap: 1px 0;
    width: 87px;
    min-width: 0;
  }

  .userTitle {
    display: flex;
    align-items: center;
    font: 600 16px/1.39 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
  }

  .userDescription {
    display: flex;
    align-items: center;
    font: 400 16px/1.39 Inter, Helvetica, Arial, serif;
    color: rgb(48 48 48);
  }

  .notificationBell {
    margin: 0 0 4px;
    width: 48px;
    min-width: 0;
  }

  .profileSection {
    display: flex;
    flex-direction: column;
  }

  .profileWrapper {
    display: flex;
    gap: 0 1px;
    margin: 18px 0 1px;
  }

  .profileBackgroundImg {
    width: 89px;
    min-width: 89px;
  }

  .profileFormWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1350px;
    min-width: 0;
    background: var(--src) 0% 98.28% / 110.22% no-repeat;
    padding: 0;

    @include mq-between(xxl, xxxl) {
      gap: 8px;
      width: 1920px;
    }
  }

  .profileNavigation {
    display: flex;
    width: 64.44%;

    @include mq-between(xxl, xxxl) {
      width: 100%;
      padding: 0;
    }
  }

  .item {
    z-index: 1;
    display: flex;
    justify-content: center;
    min-width: 330px;
    font: 800 24px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
    background-color: rgb(0 0 0 / 20.3%);
    border-radius: 15px 15px 0 0;
    padding: 30.5px 8px;

    @include mq-between(xxl, xxxl) {
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
      width: 100%;
    }

    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }

  .item1 {
    display: flex;
    justify-content: center;
    margin: 0 191px 0 0;
    min-width: 349px;
    font: 800 24px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;
    background-color: rgb(101 42 197 / 24.7%);
    border-radius: 15px 15px 0 0;
    padding: 30.5px 8px;

    @include mq-between(xxl, xxxl) {
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
      width: 100%;
    }

    @include md {
      width: 100%;
    }
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--src) center center / cover no-repeat;
    padding: 0;

    @include mq-between(xxl, xxxl) {
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    @include lg {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  .formBody {
    display: flex;
    flex-direction: column;
    margin: 34px auto 153px;
    width: 83.63%;
    background-color: rgb(245 246 250);
    border-radius: 15px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  }

  .formGrid {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    margin: 35px auto 25px;
    width: 92.12%;

    @include md {
      flex-direction: column;
      align-items: center;
      gap: 8px 10px;
    }
  }

  .leftColumn {
    display: flex;
    flex-direction: column;
    margin: 0 0 19px;
    width: 227px;
    min-width: 0;

    @include mq-between(xxl, xxxl) {
      width: 290px;
      height: 600px;
    }

    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }

    @include xs {
      align-items: center;
      gap: 8px;
    }
  }

  .userIdContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px 0;

    @include xs {
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
      width: 100%;
    }
  }

  .userIdIcon {
    width: 100%;
  }

  .userIdText {
    font: 700 16px/2.5 Poppins, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    letter-spacing: 1.28px;
  }

  .userIdText_span0 {
    font: 700 1em/2.5 Poppins, Helvetica, Arial, serif;
  }

  .userIdText_span1 {
    font: 1em/2.5 Poppins, Helvetica, Arial, serif;
  }

  .categoryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px 0;
    margin: 25px 0 0 29px;
    width: 137.5px;

    @include xs {
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
      width: 100%;
    }
  }

  .categoryHeading {
    display: flex;
    justify-content: flex-end;
    width: 90.55%;
    font: 700 16px/2.5 Poppins, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: right;
    letter-spacing: 1.28px;
  }

  .categorySelectionGrid {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .maleCategory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    margin: 0 6.5px 0 0;
  }

  .maleIcon {
    width: 23px;
    min-width: 0;
  }

  .maleLabel {
    display: flex;
    justify-content: center;
    min-width: 0;
    font: 400 16px/2.5 Poppins, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;
    letter-spacing: 1.28px;
  }

  .femaleCategory {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    margin: 4px 0 0;
  }

  .femaleIcon {
    margin: 7px 0 10px;
    width: 23px;
    min-width: 0;
  }

  .femaleLabel {
    display: flex;
    justify-content: center;
    min-width: 0;
    font: 400 16px/2.5 Poppins, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;
    letter-spacing: 1.28px;
  }

  .bothCategory {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    margin: 5px 21px 0 0;
  }

  .bothIcon {
    margin: 7px 0 10px;
    width: 23px;
    min-width: 0;
  }

  .bothLabel {
    display: flex;
    justify-content: center;
    min-width: 0;
    font: 400 16px/2.5 Poppins, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;
    letter-spacing: 1.28px;
  }

  .addLocationBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 17px;
    margin: 26px 29px 0 20px;
    background-color: rgb(255 255 255);
    border-radius: 8px;
    padding: 3px 7px;
    outline: 1px solid rgb(72 72 72);
    outline-offset: -1px;

    @include md {
      gap: 8px 17px;
    }

    @include xs {
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
      width: 100%;
    }
  }

  .locationPinIcon {
    margin: 10px 0 6px;
    width: 25px;
    min-width: 0;

    @include md {
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
      width: 10%;
    }

    @include xs {
      min-width: 10%;
    }
  }

  .addLocationText {
    min-width: 0;
    font: 400 16px/2.5 Poppins, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    letter-spacing: 1.28px;

    @include md {
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
      width: 100%;
    }
  }

  .rightColumn {
    display: flex;
    flex-direction: column;
    gap: 122px 0;
    margin: 45px 0 0;
    width: 768px;
    min-width: 0;

    @include mq-between(xxl, xxxl) {
      width: 920px;
    }

    @include md {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }

  .formFieldsContainer {
    display: flex;
    flex-direction: column;
    gap: 49px 0;
    margin: 0 18px 0 0;

    @include lg {
      align-items: center;
      column-gap: 8px;
      width: 70%;
    }
  }

  .nameFieldsContainer {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;

    @include lg {
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
      width: 100%;
    }

    @include xs {
      flex-direction: column;
      align-items: center;
      gap: 8px 10px;
    }
  }

  .firstNameField {
    display: flex;
    flex-direction: column;
    gap: 9px 0;
    width: 342px;
    min-width: 0;

    @include xs {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }

  .firstNameLabel {
    font: 400 16px/2.5 Poppins, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    letter-spacing: 1.28px;
  }

  .firstNameInput {
    width: 342px;
    height: 1px;
    min-height: 1px;
    background-color: rgb(0 0 0);
  }

  .lastNameField {
    display: flex;
    flex-direction: column;
    gap: 9px 0;
    width: 342px;
    min-width: 0;

    @include xs {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }

  .lastNameLabel {
    font: 400 16px/2.5 Poppins, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    letter-spacing: 1.28px;
  }

  .lastNameInput {
    width: 342px;
    height: 1px;
    min-height: 1px;
    background-color: rgb(0 0 0);
  }

  .contactFieldsContainer {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;

    @include lg {
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
      width: 100%;
    }

    @include xs {
      flex-direction: column;
      align-items: center;
      gap: 8px 10px;
    }
  }

  .emailField {
    display: flex;
    flex-direction: column;
    gap: 9px 0;
    width: 342px;
    min-width: 0;

    @include xs {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }

  .emailLabel {
    font: 400 16px/2.5 Poppins, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    letter-spacing: 1.28px;
  }

  .emailInput {
    width: 342px;
    height: 1px;
    min-height: 1px;
    background-color: rgb(0 0 0);
  }

  .phoneField {
    display: flex;
    flex-direction: column;
    gap: 9px 0;
    width: 342px;
    min-width: 0;

    @include xs {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }

  .phoneLabel {
    font: 400 16px/2.5 Poppins, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    letter-spacing: 1.28px;
  }

  .phoneInput {
    width: 342px;
    height: 1px;
    min-height: 1px;
    background-color: rgb(0 0 0);
  }

  .personalInfoContainer {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;

    @include lg {
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
      width: 100%;
    }

    @include xs {
      flex-direction: column;
      align-items: center;
      gap: 8px 10px;
    }
  }

  .nicField {
    display: flex;
    flex-direction: column;
    gap: 9px 0;
    width: 342px;
    min-width: 0;

    @include xs {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }

  .nicLabel {
    font: 400 16px/2.5 Poppins, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    letter-spacing: 1.28px;
  }

  .nicInput {
    width: 342px;
    height: 1px;
    min-height: 1px;
    background-color: rgb(0 0 0);
  }

  .birthDateField {
    display: flex;
    flex-direction: column;
    gap: 4px 0;
    width: 342px;
    min-width: 0;

    @include xs {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }

  .birthDateLabelContainer {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    margin: 0 6px 0 0;
  }

  .birthDateLabel {
    margin: 0 0 5px;
    min-width: 0;
    font: 400 16px/2.5 Poppins, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    letter-spacing: 1.28px;
  }

  .calendarIcon {
    margin: 11px 0 0;
    width: 37px;
    min-width: 0;
  }

  .birthDateInput {
    width: 342px;
    height: 1px;
    min-height: 1px;
    background-color: rgb(0 0 0);
  }

  .additionalInfoContainer {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    margin: 0 6px 0 0;

    @include lg {
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
      width: 100%;
    }

    @include xs {
      flex-direction: column;
      align-items: center;
      gap: 8px 10px;
    }
  }

  .homeTownField {
    display: flex;
    flex-direction: column;
    gap: 9px 0;
    width: 342px;
    min-width: 0;

    @include xs {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }

  .homeTownLabel {
    font: 400 16px/2.5 Poppins, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    letter-spacing: 1.28px;
  }

  .homeTownInput {
    width: 342px;
    height: 1px;
    min-height: 1px;
    background-color: rgb(0 0 0);
  }

  .bioField {
    display: flex;
    flex-direction: column;
    gap: 9px 0;
    width: 342px;
    min-width: 0;

    @include xs {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }

  .bioLabel {
    font: 400 16px/2.5 Poppins, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    letter-spacing: 1.28px;
  }

  .bioInput {
    width: 342px;
    height: 1px;
    min-height: 1px;
    background-color: rgb(0 0 0);
  }

  .formActionContainer {
    display: flex;
    gap: 0 22px;
    margin: 0 0 0 auto;
    width: 426px;

    @include xs {
      flex-direction: column;
      align-items: center;
      gap: 8px 22px;
      margin: 0 70px 0 auto;
      width: 175px;
    }
  }

  .submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 4px;
    min-width: 244px;
    background-color: rgb(89 23 193);
    border-radius: 8px;
    padding: 16.5px 8px;
    outline: 1px solid rgb(118 118 118);
    outline-offset: -1px;
    transition-duration: 0.3s;
    transition-property: background-color;

    @include xs {
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
      width: 100%;
    }
  }

  .submitBtn:hover {
    background-color: #14011eff;
  }

  .submitText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5px 0;
    min-width: 0;
    font: 400 24px/1.2 "Rubik One", Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
    letter-spacing: 0.96px;
    text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  }

  .submitIcon {
    width: 32px;
    min-width: 0;
  }

  .resetBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 160px;
    font: 400 24px/1.2 "Rubik One", Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
    background-color: rgb(89 23 193);
    border-radius: 8px;
    padding: 16.5px 40px;
    outline: 1px solid rgb(118 118 118);
    outline-offset: -1px;
    letter-spacing: 0.96px;
    text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    transition-duration: 0.3s;
    transition-property: background-color;

    @include xs {
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
      width: 100%;
    }
  }

  .resetBtn:hover {
    background-color: #270135ff;
  }
}
