@use "utils" as *;
@use "global" as *;

.tailor-dashboard {
  &.mainSection {
    display: flex;
    flex-direction: column;
    background: var(--src) center center / 100% 100% no-repeat;
    background-color: rgb(255 255 255);
    overflow: hidden;
  }

  .searchAndImageDisplaySection {
    display: flex;
    flex-direction: column;
    min-height: 93px;
  }

  .imageDisplayWrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(0 0 0 / 0.7%);
    border-radius: 15px 15px 0 0;
  }

  .imageFlexRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    margin: 11px 12px 5px;
  }

  .displayImage {
    width: 77px;
    min-width: 0;

    @include lg {
      min-width: 50px;
      min-height: 50px;
    }
  }

  .buttonContainerRow {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    width: 687px;
    min-width: 0;
  }

  .searchButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    margin: 4px 0 8px;
    width: 352px;
    min-width: 100px;
    background-color: rgb(255 255 255);
    border-radius: 20px;
    padding: 12px 14px 12px 16px;
    outline: 1px solid rgb(217 217 217);
    outline-offset: -0.5px;
  }

  .searchButtonText {
    margin: 3px 0 6px;
    min-width: 0;
    font: 400 16px/1 Inter, Helvetica, Arial, serif;
    color: rgb(117 117 117);
  }

  .searchButtonIcon {
    width: 27px;
    min-width: 0;
  }

  .imageFlexRowSecondary {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    width: 289px;
    min-width: 0;
  }

  .imageWrapper {
    display: flex;
    flex-direction: column;
    margin: 2px 0 0;
    width: 50px;
    min-width: 0;
    background: var(--src) center center / 100% 100% no-repeat;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%);

    @include xl {
      min-width: 50px;
      height: 0;
      min-height: 50px;
    }

    @include lg {
      margin: 4px 0 0;
    }

    @include xxs {
      min-height: 52px;
      padding: 0;
    }
  }

  .secondaryDisplayImage {
    margin: 13px;
    width: 24px;
    height: 24px;
  }

  .gridContentRow {
    display: flex;
    gap: 0 11px;
    margin: 0 0 1.5px;
    width: 198px;
    min-width: 0;
  }

  .cardFlexRow {
    display: flex;
    gap: 0 12px;
    margin: 3.5px 0 0;
    width: 139px;
    min-width: 0;
  }

  .gridCardImage {
    margin: 0.5px 0 6.5px;
    width: 40px;
    min-width: 0;
    border-radius: 20px;

    @include lg {
      margin: 4px 0 6.5px;
      min-width: 40px;
      min-height: 40px;
    }

    @include xxs {
      min-width: 30px;
      min-height: 20px;
    }
  }

  .cardDetailsColumn {
    display: flex;
    flex-direction: column;
    gap: 1px 0;
    width: 87px;
    min-width: 0;

    @include sm {
      display: none;
    }
  }

  .gridCardTitle {
    display: flex;
    align-items: center;
    font: 600 16px/1.39 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
  }

  .gridCardDescription {
    display: flex;
    align-items: center;
    font: 400 16px/1.39 Inter, Helvetica, Arial, serif;
    color: rgb(48 48 48);
  }

  .tertiaryDisplayImage {
    margin: 0 0 2.5px;
    width: 48px;
    min-width: 0;

    @include lg {
      min-width: 42px;
    }
  }

  .dashboardSection {
    display: flex;
    flex-direction: column;
    margin: 0 0 1px;
  }

  .dashboardContentRow {
    display: flex;
    margin: 17px 0 0;
  }

  .dashboardImage {
    width: 92px;
    min-width: 92px;
  }

  .dashboardColumn {
    display: flex;
    flex-direction: column;
    width: 1348px;
    min-width: 0;
  }

  .dashboardWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 17.66%;
    width: 330px;
    background-color: rgb(0 0 0 / 20.3%);
    border-radius: 15px 15px 0 0;

    @include xxs {
      margin: 0 0 0 0%;
    }
  }

  .dashboardTitle {
    display: flex;
    justify-content: center;
    margin: 29px 102px 32px 98px;
    width: 130px;
    height: 29px;
    font: 800 24px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
  }

  .contentBoxContainer {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .coverImage {
    position: absolute;
    inset: 0;
    width: 1348px;
    height: 823px;
  }

  .dashboardFlexRow {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    margin: 61px 0 601px 13.35%;
    width: 896px;

    @include lg {
      flex-direction: column;
      align-items: center;
      gap: 8px 10px;
      width: 0;
      min-width: 564px;
    }

    @include sm {
      min-width: 454px;
    }

    @include xs {
      margin: 61px 0 601px 2.5%;
    }

    @include xxs {
      margin: 61px 0 601px 0%;
      min-width: 310px;
    }
  }

  .dashboardBox {
    display: flex;
    flex-direction: column;
    width: 262px;
    min-width: 0;
    background-color: rgb(255 255 255);
    border-radius: 14px;
    box-shadow: 6px 6px 54px 0 rgb(0 0 0 / 5%);

    @include lg {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }

  .statisticsColumn {
    display: flex;
    flex-direction: column;
    gap: 29px 0;
    margin: 16px;
  }

  .statisticsFlexRow {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
  }

  .statisticsDetailsColumn {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
    width: 89px;
    min-width: 0;
  }

  .totalOrderText {
    margin: 0 7px 0 0;
    font: 600 16px/1.37 "Nunito Sans", Helvetica, Arial, serif;
    color: rgb(32 34 36);
    letter-spacing: -0.2px;
    opacity: 0.69;
  }

  .totalOrderValue {
    font: 700 28px/1.35 "Nunito Sans", Helvetica, Arial, serif;
    color: rgb(32 34 36);
    letter-spacing: 1px;
  }

  .statisticsImage {
    margin: 0 0 16px;
    width: 60px;
    min-width: 0;
  }

  .weeklyComparisonRow {
    display: flex;
    gap: 0 8px;
  }

  .weeklyComparisonImage {
    width: 24px;
    min-width: 0;
  }

  .weeklyComparisonTextBox_box {
    margin: 1px 0;
    min-width: 0;
  }

  .weeklyComparisonTextBox {
    font: 600 16px/1.37 "Nunito Sans", Helvetica, Arial, serif;
    color: rgb(0 0 0);
  }

  .weeklyComparisonTextBox_span0 {
    font: 600 1em/1.37 "Nunito Sans", Helvetica, Arial, serif;
    color: rgb(0 182 155);
  }

  .weeklyComparisonTextBox_span1 {
    font: 600 1em/1.37 "Nunito Sans", Helvetica, Arial, serif;
    color: rgb(18 21 60);
  }

  .weeklyComparisonTextBox_span2 {
    font: 600 1em/1.37 "Nunito Sans", Helvetica, Arial, serif;
    color: rgb(96 96 96);
  }

  .contentBox {
    display: flex;
    flex-direction: column;
    width: 262px;
    min-width: 0;
    background-color: rgb(255 255 255);
    border-radius: 14px;
    box-shadow: 6px 6px 54px 0 rgb(0 0 0 / 5%);

    @include lg {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }

  .flexCol {
    display: flex;
    flex-direction: column;
    gap: 29px 0;
    margin: 16px 14px 16px 16px;
  }

  .flexRow {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    margin: 0 2px 0 0;
  }

  .flexCol1 {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
    width: 115px;
    min-width: 0;
  }

  .totalSalesText {
    margin: 0 36px 0 0;
    font: 600 16px/1.37 "Nunito Sans", Helvetica, Arial, serif;
    color: rgb(32 34 36);
    letter-spacing: -0.2px;
    opacity: 0.69;
  }

  .totalSalesValue {
    font: 700 28px/1.35 "Nunito Sans", Helvetica, Arial, serif;
    color: rgb(32 34 36);
    letter-spacing: 1px;
  }

  .salesStatisticsImage {
    margin: 0 0 16px;
    width: 60px;
    min-width: 0;
  }

  .flexRow1 {
    display: flex;
    gap: 0 8px;
  }

  .salesComparisonImage {
    width: 24px;
    min-width: 0;
  }

  .comparisonStatisticsTextBox_box {
    margin: 1px 0;
    min-width: 0;
  }

  .comparisonStatisticsTextBox {
    font: 600 16px/1.37 "Nunito Sans", Helvetica, Arial, serif;
    color: rgb(0 0 0);
  }

  .comparisonStatisticsTextBox_span0 {
    font: 600 1em/1.37 "Nunito Sans", Helvetica, Arial, serif;
    color: rgb(249 60 101);
  }

  .comparisonStatisticsTextBox_span1 {
    font: 600 1em/1.37 "Nunito Sans", Helvetica, Arial, serif;
    color: rgb(18 21 60);
  }

  .comparisonStatisticsTextBox_span2 {
    font: 600 1em/1.37 "Nunito Sans", Helvetica, Arial, serif;
    color: rgb(96 96 96);
  }

  .flexCol2 {
    display: flex;
    flex-direction: column;
    gap: 29px 0;
    margin: 16px;
  }

  .flexRow2 {
    display: flex;
    gap: 0 25px;
  }

  .flexCol3 {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
    width: 145px;
    min-width: 0;
  }

  .totalAppointmentsText {
    font: 600 16px/1.37 "Nunito Sans", Helvetica, Arial, serif;
    color: rgb(32 34 36);
    opacity: 0.69;
  }

  .totalAppointmentsValue {
    font: 700 28px/1.35 "Nunito Sans", Helvetica, Arial, serif;
    color: rgb(32 34 36);
    letter-spacing: 1px;
  }

  .appointmentsStatisticsImage {
    margin: 0 0 16px;
    width: 60px;
    min-width: 0;
  }

  .appointmentsComparisonImage {
    width: 24px;
    min-width: 0;
  }

  .appointmentsComparisonTextBox_box {
    margin: 1px 0;
    min-width: 0;
  }

  .appointmentsComparisonTextBox {
    font: 600 16px/1.37 "Nunito Sans", Helvetica, Arial, serif;
    color: rgb(0 0 0);
  }

  .appointmentsComparisonTextBox_span0 {
    font: 600 1em/1.37 "Nunito Sans", Helvetica, Arial, serif;
    color: rgb(0 182 155);
  }

  .appointmentsComparisonTextBox_span1 {
    font: 600 1em/1.37 "Nunito Sans", Helvetica, Arial, serif;
    color: rgb(18 21 60);
  }

  .appointmentsComparisonTextBox_span2 {
    font: 600 1em/1.37 "Nunito Sans", Helvetica, Arial, serif;
    color: rgb(96 96 96);
  }
}
